
<!-- <app-carousel></app-carousel> -->
<!-- What We Do will go here -->

<div style="background-color: #cccccc"> <!-- only purpose is to change background color -->
  <div class="col-sm-2"></div>
  <div id="quizcomponent col-sm-8"><app-survey></app-survey></div>
  <div class="col-sm-2"></div>

  <div div id = "resultsPage"class="panel panel-default">
    <script>
      var text = "hi there";
    </script>
    <!-- List group -->
    <ul class="list-group">
      <li div id = "title" class="list-group-item">Title:</li>
      <li div id = "summary" class="list-group-item">Summary:</li>
      <li div id = "releaseDate" class="list-group-item">Release Date:</li>
      <li div id = "rating" class="list-group-item">Rating:</li>
    </ul>
  </div>
</div>