#stylediv{
    width: 80%;
    margin-left: 10%;
}
#buttoncomponent{
    /* left: -500px; */
    position: relative;
    
    
}
#resultsPage{
    position: relative;
    top: 30%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    padding-top: 55px;
}

html{
    height: 110vh;
    background-color: #cccccc;
}
