
<!-- <app-carousel></app-carousel> -->
<!-- What We Do will go here -->

<div class="col-sm-2"></div>
<div id="quizcomponent col-sm-8"><app-survey>app survey here</app-survey></div>
<div class="col-sm-2"></div>

<button (click)='randomFunct()'type="button" div id = "buttoncomponent" class="btn btn-default btn-lg">Refresh</button>


<div div id = "resultsPage"class="panel panel-default">
  <!-- Default panel contents -->
  <!-- <div class="panel-heading">Panel heading</div> -->
  <!-- <div class="panel-body">
    <p>...</p>
  </div> -->
  <script>
    var text = "hi there";
  </script>
  <!-- List group -->
  <ul class="list-group">
    <li div id = "title" class="list-group-item">Title:</li>
    <li div id = "summary" class="list-group-item">Summary:</li>
    <li div id = "releaseDate" class="list-group-item">Release Date:</li>
    <li div id = "rating" class="list-group-item">Rating:</li>
  </ul>
</div>