<!--
<div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton ="model.left"> Left (pre-checked)
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton ="model.middle"> Middle
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton="model.right"> Right
  </label>
</div>
-->
<router-outlet>
  
</router-outlet>
<router-outlet>
  
</router-outlet>

<app-navigationbar></app-navigationbar>
