<!--
<div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton ="model.left"> Left (pre-checked)
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton ="model.middle"> Middle
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton="model.right"> Right
  </label>
</div>
-->
<app-carousel></app-carousel>
<!-- What We Do will go here -->
<div id="whatwedo">
  <app-whatwedo></app-whatwedo>
</div>
<!-- Quiz component will go here -->
<div id="quizcomponent"><app-survey></app-survey></div>
<div id="aboutus">
  <app-aboutus></app-aboutus>
</div>
<app-navigationbar></app-navigationbar>
