<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>What We Do</h2><br>
      <p><font size="+1.25">This quiz allows the user to narrow down which movie or TV show they would like to watch on a variety of different criteria, including genre, language, duration, actors and many more. However, the user is also able to specify which movie or TV show they would like to see if they already have one in mind.</font></p>
    </div>
    <div class="col-sm-4" style="background-color: darkblue">
      <span class="glyphicon glyphicon-signal logo">image can go here, but we can also adjust</span>
    </div>
  </div>
</div>