<!-- Container (Services Section) -->
<!-- Will be converted to be our beautiful faces (if you'd like, not necessary) -->
<div id="services" class="container-fluid text-center" style="background-color: white">
  <h2>ABOUT US</h2>
  <h4>CISC474 Group 6</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>NATALIE AYLING</h4>
      <p>nayling@udel.edu</p>
      <p>(more information here if we want)</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>PETER BOHDJELIAN</h4>
      <p>pboh@udel.edu</p>
      <p>(more information here if we want)</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>RACHEL BUTLER</h4>
      <p>rbutler@udel.edu</p>
      <p>(more information here if we want)</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>SCOTT MILLER</h4>
      <p>scot@udel.edu</p>
      <p>(more information here if we want)</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>JENNIFER URBAN</h4>
      <p>jenurban@udel.edu</p>
      <p>(more information here if we want)</p>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<!-- Used this link for reference, work still needs to be done: 
  https://www.w3schools.com/bootstrap/bootstrap_theme_company.asp -->