#masterForm{
    margin-top: 2em;
}
.submitbutton{
    color: #cccccc;
    background-color: #424242;
}

label, textarea, option{
    font-size: 1.25em;
}
#button1{
    display: none;
}
#button2{
    display: none;
}
#button3{
    display: none;
}
#button4{
    display: none;
}
#button5{
    display: none;
}