

<!--
<form id='masterForm' action="/recommendation" onsubmit = "submitMovie()">
-->
<form id='masterForm'>
  <div class="form-group">
    <label for="exampleFormControlSelect1">What do you want to watch?</label>
    <select class="form-control" id="exampleFormControlSelect1" (change)="movieortv($event)">
      <option selected>...</option>
      <option value="Movie">Movie</option>
      <option value="TV">TV Show</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Pick a genre</label>
    <select class="form-control" id="exampleFormControlSelect2" (change)="movgenre($event)">
      <option selected>...</option>
      <option value = "Comedy">Comedy</option>
      <option value = "Action">Action</option>
      <option value = "Romance">Romance</option>
      <option value = "Horror">Horror</option>
      <option value = "Documentary">Documentary</option>
      <option value = "Fantasy">Fantasy</option>
      <option value = "Drama">Drama</option>
    </select>
  </div>
  <div class="form-group">
    <label for="languageSelect">Select a langauge</label>
    <select class="form-control" id="languageSelect" (change)="movlanguage($event)">
      <option selected>...</option>
      <option>English</option>
      <option>French</option>
      <option>Spanish</option>
      <option>Japanese</option>
    </select>
  </div>
  <div *ngIf="isMovie" class="form-group">
      <div>
          <p id = actor1>{{text}}<button id = "button1"type="button" (click)="testFunct('1')" class="close" aria-label="Close"> <span aria-hidden="true">&times;</span></button></p>
          <p id = actor2>{{text}}<button id = "button2"type="button" (click)="testFunct('2')" class="close" aria-label="Close"> <span aria-hidden="true">&times;</span></button></p>
          <p id = actor3>{{text}}<button id = "button3"type="button" (click)="testFunct('3')" class="close" aria-label="Close"> <span aria-hidden="true">&times;</span></button></p>
          <p id = actor4>{{text}}<button id = "button4"type="button" (click)="testFunct('4')" class="close" aria-label="Close"> <span aria-hidden="true">&times;</span></button></p>
          <p id = actor5>{{text}}<button id = "button5"type="button" (click)="testFunct('5')" class="close" aria-label="Close"> <span aria-hidden="true">&times;</span></button></p>
          <p id="p3"></p>
        </div>
    <label for="exampleFormControlTextarea1">Add some of your favorite actors/actresses</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" (change)="actors($event)"></textarea>
  </div>
  <!-- <button (click)='addParagraph()'type="button" class="btn btn-outline-light">Submit</button> -->
  <div *ngIf="isMovie" class="form-group">
    <label for="minyear">Movies Released Since</label><br>
    <div style="margin-top:.5em;"></div>
    <mat-slider id="minyear" thumbLabel [displayWith]="formatLabel" min="1900" max="2018" style='width:500px' (change)="minyear($event)"></mat-slider>
  </div> 
  <br>
  <div *ngIf="isMovie" class="form-group">
    <label for="maxyear">Movies Released By</label><br>
    <div style="margin-top:.5em;"></div>
    <mat-slider id="maxyear" thumbLabel [displayWith]="formatLabel" min="1900" max="2018" style='width:500px' (change)="maxyear($event)"></mat-slider>  
    <br>
  </div>
  <div *ngIf="isMovie" class="form-group">
  <label for="shortmovie">Shortest Movie Length (mins)</label><br>
  <div style="margin-top:.5em;"></div>
  <mat-slider id="shortmovie" thumbLabel [displayWith]="formatLabel" min="0" max="240" style='width:500px; color:rgba(186, 217, 247, 0.486)' (change)="mindur($event)"></mat-slider> 
  
  </div>
  <div *ngIf="isMovie" class="form-group">
  <br><label for="longmovie">Longest Movie Length (mins)</label><br>
  <div style="margin-top:.5em;"></div>
  <mat-slider id="longmovie" thumbLabel [displayWith]="formatLabel" min="0" max="240" style='width:500px' (change)="maxdur($event)"></mat-slider>
  </div>
  <div *ngIf="isMovie" class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" (change)="bad($event)">
    <label class="form-check-label" for="defaultCheck1">
      Are bad movies okay?
    </label>
  </div>
  <div *ngIf="!isMovie" class="form-group">
    <label for="airedby">Shows that Aired After: </label><br>
    <div style="margin-top:.5em;"></div>
    <mat-slider id="airedby" thumbLabel [displayWith]="formatLabel" min="1900" max="2018" style='width:500px' (change)="airedby($event)"></mat-slider>
  </div> 
  <br>
  <div *ngIf="!isMovie" class="form-group">
    <label for="airedsince">Shows that Aired Before: </label><br>
    <div style="margin-top:.5em;"></div>
    <mat-slider id="airedsince" thumbLabel [displayWith]="formatLabel" min="1900" max="2018" style='width:500px' (change)="airedsince($event)"></mat-slider>
  </div> 
  <br>
  <div *ngIf="!isMovie" class="form-group">
    <label for="shortmovie">Shortest Episode Length (mins)</label><br>
    <div style="margin-top:.5em;"></div>
    <mat-slider id="shortmovie" thumbLabel [displayWith]="formatLabel" min="0" max="240" style='width:500px' (change)="mindur($event)"></mat-slider> 
  </div>
  <br>
  <div *ngIf="!isMovie" class="form-group">
    <label for="longmovie">Longest Episode Length (mins)</label><br>
    <div style="margin-top:.5em;"></div>
    <mat-slider id="longmovie" thumbLabel [displayWith]="formatLabel" min="0" max="240" style='width:500px' (change)="maxdur($event)"></mat-slider>
  </div>
  <div *ngIf="!isMovie" class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" (change)="tvrating($event)">
    <label class="form-check-label" for="defaultCheck1">
      High-rated shows only?
    </label>
  </div>
  <button (click)='construct()'type="button" class="btn btn-outline-light">Submit</button>
  


</form>
